body {
  font-family: Arial, sans-serif;
  padding: 2rem;
  line-height: 1.6;
}
.content {
  background-color: #f9f9f9;
  padding: 1.5rem;
  border-radius: 8px;
  max-width: 800px;
  margin: auto;
  font-size: 20px;
}

img.screenshot {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1rem auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
